
/* ================================= 
Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #3a3a3a;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Prata', serif;
}


a { 
	color: #fff;
	text-decoration: none;
}


/* ================================= 
Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container{
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	font-size: 24px;
	background: linear-gradient(transparent, #fff 100%),
		#fff url("../img/pics_from_sept__thru_december_2012_067.JPG") no-repeat center;
	background-size: cover;
	padding: 1em 0;
}

.main-footer {
	padding: 2em 0;
	background: #d9e4ea;
	text-align: center;
}


/* Remove List Chars */
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*======================
Header Content
========================*/

.connum {
	text-align: right;
	padding-right: 100px;
}

h1,
img {
	padding-left: 100px;
}

/*======================
Main Content
========================*/

.service,
.pro {
	display: inline-block;
	margin: 45px;
	width: 40%;
	border-radius: 20px;
	color: #000;
	padding-bottom: 20px;
	text-align: center;
	font-size: 24px;
}

.mil {
	color: brown;
	text-align: center;
	font-size: 24px;
}

/*======================
Media Queries
========================*/

@media (min-width: 796px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}
}















